USE [master]
GO
/****** Object:  Database [LeetSpeakDB]    Script Date: 4/23/2025 12:07:46 PM ******/
CREATE DATABASE [LeetSpeakDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeetSpeakDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeetSpeakDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeetSpeakDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeetSpeakDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeetSpeakDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeetSpeakDB]
GO
/****** Object:  Table [dbo].[TranslationRecords]    Script Date: 4/23/2025 12:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranslationRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalText] [nvarchar](max) NULL,
	[TranslatedText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TranslationRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[InsertTranslationRecord]    Script Date: 4/23/2025 12:07:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTranslationRecord]
    @OriginalText NVARCHAR(MAX),
    @TranslatedText NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO TranslationRecords (OriginalText, TranslatedText)
    VALUES (@OriginalText, @TranslatedText);
END;
GO
USE [master]
GO
